# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Environment variables
.env
.env.local

# Database
*.db
*.db-journal
prisma/migrations/

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
